.landing-page-main{
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.overlay{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo-and-des{
    padding-top: 100px;
    width: min(80%, 900px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* logo */
.main-logo{
    margin: 10px 40px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

/* Logo description */
.des{
    font-family: 'Poppins';
    width: 50%;
    text-align: center;
    justify-content: center;
    font-weight: 200;
    font-size: 1.2rem;
}
.main-heading{
    font-weight: 300;
    font-size: 4rem;
    margin: 3.2rem;    
}

















/* Cards  */

/*
#988dce 
#85bea4 
#8a7577
#5d7182
#d4b8bf
#2e313e  
#5b514c
#4e785d 
#ac482c
*/

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    width: 100%;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 120px;
    margin: 25px 0;
    border-radius: 10px;
    padding: 20px 40px;
}
.card-heading{
    flex-basis: 35%;
    font-size: 1.6rem;
}
.hr-vertical{
    width: 100px;
    transform: rotate(90deg);
}
.card-des{
    flex-basis: 60%;
    font-size: 15px;
}
.card button{
    flex-basis: 15%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: #ffffff46;
    padding: 15px;
    transition: 0.4s;
    margin: 0 15px;
}
.card button:hover {
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.918);
}

.query-card{
    background-color: #988dcede;
}
.image-card{
    background-color: #85bea4d7;
}
.code-card{
    background-color: #927477fd;
}
.audio-mimic-card{
    background-color: #5d7182;
}
.music-card{
    background-color: #ac482c;
}


@media (max-width: 950px) {
    .logo-and-des{
        flex-direction: column;
        align-items: center;
    }    
    .main-logo{
        margin: 10px 40px;
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }

    /* Logo description */
    .des{
        font-size: 12px;
        width: min(600px , 90%);
    }
    .main-heading{
        font-size: 1.8rem;    
    }


    /* Cards */  
    .hr-vertical{
        display: none;
    }
    .card{
        flex-direction: column;
        height: fit-content;
        width: 60%;
        text-align: center;
    }
    .card button{
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        border: none;
        border-radius: 10px;
        height: 50px;
        width: 60%;
        background-color: #ffffff46;
        margin: 20px 0;
    }
    .card button:hover {
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.918);
    }
    

}