nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-image: linear-gradient(to bottom,#1a1a1a,  #2e313e6d, #1a1a1a );
}
/*
d4b8bf
85bea4 
2e313e  
988dce 
8a7577
5b514c
5d7182
4e785d 
ac482c
*/
nav .logo{
    cursor: cell;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 8px;
    transition: letter-spacing 0.1s linear;
}
nav .logo:hover{
    letter-spacing: 10px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
nav ul li{
    font-size: 15px;
    height: 20px;
    margin: 15px;
    font-weight: 200;
}
nav ul li:hover {
    border-bottom: 1px solid white;
}

@media (max-width: 900px) {
    nav{
        height: 100px;
    }
    nav .logo{
        font-size: 1.5rem;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        font-size: 15px;
        margin: 2px;
        font-weight: 200;
    }
}