main{
    display: flex;
    flex-direction: column;
}
/* logo */
.logo-and-des{
    display: flex;
    margin: 6rem auto;
}
.main-logo{
    margin: 10px 40px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

/* Logo description */
.main-des{
    font-family: 'Poppins';
    width: 600px;
    text-align: center;
    justify-content: center;
}
.aiello-bullet{
    font-weight: 100;
    font-size: 3rem;
    margin: 1.5rem;    
}
.main-sub-des{
    font-weight: 200;
    font-size: 1rem;
}

/* Cards  */

/*
#988dce 
#85bea4 
#8a7577
#5d7182
#d4b8bf
#2e313e  
#5b514c
#4e785d 
#ac482c
*/

.card-container{
    width: 75%;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    margin: 50px 0;
    border-radius: 10px;
    padding: 20px 40px;
}
.card-heading{
    flex-basis: 20%;
    font-size: 1.6rem;
}
.hr-vertical{
    width: 100px;
    transform: rotate(90deg);
}
.card-des{
    flex-basis: 60%;
    font-size: 18px;
}
.card button{
    flex-basis: 15%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: #ffffff46;
    padding: 15px;
    transition: 0.4s;
}
.card button:hover {
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.918);
}

.query-card{
    background-color: #988dcede;
}
.image-card{
    background-color: #85bea4d7;
}
.code-card{
    background-color: #8a7577d2;
}
.audio-mimic-card{
    background-color: #5d7182;
}
.music-card{
    background-color: #ac482c;
}


@media (max-width: 950px) {
    .main-logo{
        margin: 10px 40px;
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }
    .logo-and-des{
        flex-direction: column;
        align-items: center;
        margin: 5rem auto;
    }    

    /* Logo description */
    .main-des{
        width: 80%;
        max-width: 600px;
    }
    .aiello-bullet{
        font-size: 1.8rem;    
    }
    .main-sub-des{
        font-weight: 200;
        font-size: 0.8rem;
    }

    /* Cards */  
    .hr-vertical{
       width: 20px;
    }  
    .card{
        flex-direction: column;
        height: 300px;
    }
    .card button{
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        border: none;
        border-radius: 10px;
        height: 50px;
        width: 80px;
        background-color: #ffffff46;
        margin: 20px 0;
    }
    .card button:hover {
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.918);
    }
    

}