main{
    display: flex;
    flex-direction: column;
}
/* logo */
.logo-and-des{
    display: flex;
    margin: 6rem auto;
}
.main-logo{
    margin: 10px 40px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

/* Logo description */
.main-des{
    font-family: 'Poppins';
    width: 600px;
    text-align: center;
    justify-content: center;
}
.aiello-bullet{
    font-weight: 100;
    font-size: 3rem;
    margin: 1.5rem;    
}
.main-sub-des{
    font-weight: 200;
    font-size: 1rem;
}

/* Cards  */

/*
d4b8bf
85bea4 
2e313e  
988dce 
8a7577
5b514c
5d7182
4e785d 
ac482c
*/

.card-container{
    display: flex;
    margin: 6rem auto;
    margin-top: 0;
}
.query-card{
    background-color: #988dcede;
}
.image-card{
    background-color: #85bea4d7;
}
.code-card{
    background-color: #8a7577d2;
}

.card{
    max-width: 95%;
    width: 180px;
    margin: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 30px 50px;
}
.card-heading{
    font-size: 1.8rem;
}
.card button{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    background-color: #ffffff46;
    margin: 20px 0;
}
.card button:hover {
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.918);
}

@media (max-width: 950px) {
    .main-logo{
        margin: 10px 40px;
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }
    .logo-and-des{
        flex-direction: column;
        align-items: center;
        margin: 5rem auto;
    }    

    /* Logo description */
    .main-des{
        width: 80%;
    }
    .aiello-bullet{
        font-size: 2rem;    
    }
    .main-sub-des{
        font-weight: 200;
        font-size: 1rem;
    }

    /* Cards */    
    .card{
        width: 240px;
        padding:20px;
        margin: 30px auto;
    }
    .card-container{
        flex-direction: column;
    }
    .card button{
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        border: none;
        border-radius: 10px;
        height: 50px;
        width: 150px;
        background-color: #ffffff46;
        margin: 20px 0;
    }
    .card button:hover {
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.918);
    }
    

}