main{
    display: flex;
    flex-direction: column;
}
/* logo */
.logo-and-des{
    display: flex;
    margin: 6rem auto;
}
.main-logo{
    margin: 10px 40px;
    height: 400px;
    border-radius: 10px;
}

/* Logo description */
.main-des{
    font-family: 'Poppins';
    margin: auto 15px;
    width: 800px;
    text-align: center;
    justify-content: center;
}
.aiello-bullet{
    font-weight: 100;
    font-size: 3.5rem;    
}
.main-sub-des{
    font-weight: 200;
    font-size: 1.5rem;
}

/* Cards button */
.card-container{
    display: flex;
    margin: 6rem auto;
    margin-top: 0;
}
.query-card{
    background-color: #988dcede;
}
.image-card{
    background-color: #85bea4d7;
}
/*
d4b8bf
85bea4 
2e313e  
988dce 
8a7577
5b514c
5d7182
4e785d 
ac482c
*/

.card{
    width: 300px;
    margin: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
}
.card-heading{
    font-size: 30px;
}
.card button{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    background-color: #ffffff46;
    margin: 20px 0;
}
.card button:hover {
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.918);
}


@media (max-width: 950px) {
    .main-logo{
        margin: 10px 40px;
        height: 350px;
        width: 350px;
        border-radius: 10px;
    }
    .logo-and-des{
        flex-direction: column;
        align-items: center;
        margin: 7rem auto;
    }    

    .main-des{
        width: 600px;
    }
    .card-container{
        flex-direction: column;
    }
}