main{
    min-height: 30rem;
    align-items: center;
    transition: 0.2s linear;
}
h1{
    text-align: center;
    font-weight: 100;
}
form{
    display: flex;
    align-items: center;
}
form input{
    background-color: #2e313e44;
    color: grey;
    margin: 5px;
    width:400px;
    min-width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding-left:20px;
    border: 1px solid grey;
}
form button{
    color: grey;
    background-color: #2e313e44;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 4px double grey;
    cursor: pointer;
}
.query-result-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 50px;
    min-height: 100px;
    border-radius: 15px;
    background-color: #2e313e9b;
    padding: 30px 50px;
    width: 800px;
    max-width: 80%;
    color: rgb(201, 201, 201);
}

.loader {
    border: 5px dotted rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
  
@media (max-width: 900px){
    form input{
        width:200px;
    }
}